@model List<WonderfulLibrary.UI.Models.BookViewModel>

@{
    ViewData["Title"] = "View";
}
@foreach(var item in Model)
{
<h1>
   BookName: @item.Name
</h1>
<div>
        <h4>@item.Author</h4>
    <hr/>
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
}
